.centerItems {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.removeBulletPoints > li {
  list-style-type: none;
}

.displayContent {
  width: min(50em, 80%);
}
